.page.login{
    background-color: var(--primary-color);
}
.card.login{
    width: 40%;
    height: 60%;
    margin-bottom: 5%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--primary-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 8px 8px 8px 1px rgba(0,0,0,0.75);
}
.card-header{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-size: var(--title-font-size);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
    Border-radius: var(--primary-border-radius);
    margin-top: 0;
}
.card-body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0 5% 0;
}
.input-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
}
.btn-container.login{
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.input-container input{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
.input-container input:focus{
    outline: none;
}

.btn.login{
    width: 50%;
    height: 2.5rem;
    padding: 0;
    background-color: var(--secondary-color);
    color: white;
    font-size: var(--primary-font-size);
    font-weight: bold;
    border: none;
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    margin: 5px 0;
}
.btn.forgot-password{
    width: 30%;
    height: fit-content;
    padding: 5px;
    background-color: var(--tertiary-color);
    color: white;
    font-size: var(--primary-font-size);
    font-weight: bold;
    border: none;
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    margin: 5px 0;
}

.btn.login:hover, .btn.forgot-password:hover{
    background-color: var(--quartary-color);
    border: solid 2px var(--primary-color);
}

@media (min-width: 751px) and (max-width: 1024px){
    .card {
        width: 60%;
        height: 50%;
    }
    .input-container{
        flex-direction: column;
    }
    .btn.forgot-password{
        width: 50%;
        font-size: 0.8rem;
    }

}

@media (max-width: 750px){
    .card {
        width: 70%;
        height: 50%;
    }
    .input-container{
        flex-direction: column;
    }
    .btn.forgot-password{
        width: 50%;
        font-size: 0.8rem;
    }
}
